################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/FIAP.TechChallenge.LambdaPedido
bin
.vs/
obj/
Debug/
*.dll
*.cache
net8.0/
/src/FIAP.TechChallenge.LambdaPedido.Domain/obj/Debug/net8.0/FIAP.TechChallenge.LambdaPedido.Domain.assets.cache
