################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/FIAP.TechChallenge.LambdaPedido
/src/FIAP.TechChallenge.LambdaPedido/bin/Release/net8.0
/src/.vs/ProjectEvaluation
