name: SonarCloud

on:
  workflow_call:
    secrets:
      SONAR_TOKEN:
        required: true

permissions:
  pull-requests: read

jobs:
  Analysis:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/labeler@v4
      - name: Test
        run: dotnet test --blame --no-restore --verbosity normal /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:CoverletOutput=opencover.xml
      - name: Analyze with SonarCloud
        uses: SonarSource/sonarcloud-github-action@4006f663ecaf1f8093e8e4abb9227f6041f52216
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args:
            -Dsonar.projectKey=fiap-grupo-12_TechChallenge_Lambda_Pedido
            -Dsonar.organization=fiap-grupo-12
          projectBaseDir: .
